@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

nav
{
  background-color: #772D88;
}

.navbar-text
{
  font-family:"Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color: white;
}