@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
  background-color: #CFB3CD;
}


#profile_con1 /* header */
{
  background-color: #EDAE49;
}

h2
{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #30362F;
}

hr.dashed 
{
    border-top: 3px dashed #30362F;
}

#profile_con2 /* button cards */
{
  background-color: blue;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

button.btn
{
  background-color: #750710;
  color: white;
  margin: .5%;
  border: 2px solid #750710;
}

button.btn:hover
{
  background-color: #FFB426;
  border: 2px solid #945D2D;
  color: white;

}

button.btn:focus
{
  background-color: #FFB426;
  border: 2px solid #945D2D;
  color: white;
}

div.card.card-body
{
  background-color: #1A1A1A;
}


